@font-face {
    font-family: "EEI";
    src: url("../fonts/Expanded ExtraBold Italic.ttf") format("truetype");
}
@font-face {
    font-family: "EE";
    src: url("../fonts/Expanded ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "SB";
    src: url("../fonts/SemiExpanded Bold.otf") format("opentype");
}

body {
    background-color: #FFF;
    margin-top: 30px;
}

.news-container {
    background-color: #CCCAC7;
}
.news-section .title {

}

.news-section .nav-pills a {
    font-family: "EEI";
    font-weight: 700;
    color: #515050;
    font-size: 12px;
    border-radius: 0;
    padding: 12px 20px;
}
.news-section .nav-pills .nav-link.active, 
.news-section .nav-pills .show > .nav-link {
    background-color: #FFCA51;
    color: #242424;
    border: solid 2px #242424;
}

.news-section .description {
    font-family: "SB";
    background-color: #FFFCF8;
    padding: 15px;
    font-size: 8px;
    color: #242424
}

.news-section .description img {
    width: 100%;
    margin-bottom: 20px;
}

.news-section .description h3 {
    color: #b83e09;
    font-size: 27px;
}

.gacha-history-container  {
    font-family: "SB";
    background-color: #F8F5EE;
    font-size: 8px;
    color: #242424
}

.gacha-history-container table {
    border: solid 2px #C1BCB8;
    width: 100%;
}

.gacha-history-container table tr:nth-child(odd) {
    background: #EFECE5;
}

.gacha-history-container table tr:nth-child(even) {
    background: #E4E0D7;
}

.gacha-history-container table tr td {
    padding: 5px 15px;
}

.gacha-history-container table tr td .username {
    color: #13760C;
}

.gacha-history-container table tr td .bonus {
    color: #E1882C;
}
