@font-face {
    font-family: "EEI";
    src: url("../fonts/Expanded ExtraBold Italic.ttf") format("truetype");
}
@font-face {
    font-family: "EE";
    src: url("../fonts/Expanded ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "SB";
    src: url("../fonts/SemiExpanded Bold.otf") format("opentype");
}


.news-container {
    background-color: #111113;
}

.container-fluid {
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-section .title {

}

/* .news-section .news-tab {
    position: fixed;
    width: 20%;
} */

a {
    outline: none; /* Bỏ viền màu xanh trên các trình duyệt */
    text-decoration: none; /* Bỏ gạch chân nếu cần */
}

a:focus,
a:active {
    outline: none; /* Loại bỏ đường viền màu xanh khi bấm */
    color: inherit; /* Đảm bảo giữ màu văn bản hiện tại */
}

.news-section .nav-pills a {
    font-family: "EEI";
    font-weight: 700;
    color: #515050;
    font-size: 14px;
    border-radius: 0;
    padding: 12px 20px;
    text-align: center;

}
.nav-link{
}

.background_info{
    background-color: #f3f1ec;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news-section .nav-pills .nav-link {
    min-height: 70px;
    background-image: url("../images/button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 26px;
}



.news-section .nav-pills .nav-link.active,
.news-section .nav-pills .show > .nav-link div{
    background-image: url("../images/BT Cam.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    text-align: center;
    padding-top: 26px;
}

.news-section .description {
    font-family: "SB";
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 15px;
    font-size: 12px;
    color: #242424;
    min-height: 480px;
}

.news-section .description .info-battle{
    min-height: 480px;
}

.news-section .description ul {
    padding-left: 10px;
}

.news-section .description img {
    /* width: 100%; */
    /* margin-bottom: 20px; */
    display: block;
    margin: 15px auto;
}



.news-section .description .effect {
    position: relative;
}

.news-section .description .effect img {
    width: 100%;
    margin: 0;
}

.news-section .description .effect img.effect-gif {
    position: absolute;
    top: 0;
}

.news-section .description .buff img {

}

.news-section .description table.battle-intro td {
    width: 150px;
}

.gacha-history-container  {
    font-family: "SB";
    background-color: #F8F5EE;
    font-size: 12px;
    color: #242424;
    margin-top: 15px;
}

.gacha-history-container table {
    border: solid 2px #C1BCB8;
    width: 100%;
}

.gacha-history-container table tr:nth-child(odd) {
    background: #EFECE5;
}

.gacha-history-container table tr:nth-child(even) {
    background: #E4E0D7;
}

.gacha-history-container table tr td {
    padding: 5px 15px;
}

.gacha-history-container table tr td .username {
    color: #13760C;
}

.gacha-history-container table tr td .bonus {
    color: #E1882C;
}

.gacha-history-container table tr td .bonus3 {
    color: #805bb4;
}

.gacha-history-container table tr td .bonus4 {
    color: #f8c067;
}

.gacha-history-container table tr td .bonus5 {
    color: #ff2e2e;
}

.title-wrapper {
    text-align: center;
}

.gacha-detail-title {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.gacha-detail-title::before,
.gacha-detail-title::after {
    content: "";
    position: absolute;
    width: 45px;
    top: 50%;
    transform: translateY(-50%);
    border-top: solid 1px #7C7B77;
}

.gacha-detail-title::before {
    left: -55px;
}

.gacha-detail-title::after {
    right: -55px;
}

.primary-color {
    color: #E1882C;
}
.secondary-color {
    color: #A44FB4;
}
.third-color {
    color: #3691BE;
}

.special-bg {
    background-color: #FBE2A9 !important;
}

.table-1 {
    margin-bottom: 15px;
}

.scroll-table {
    height: 250px;
    /* overflow-y: scroll; */
}

.table-1 tbody tr td:nth-child(2),
.table-2 tbody tr td:nth-child(2) {
    text-align: right;
}

.image-container {
    position: relative;
    width: 100%; /* Chiều rộng của ảnh */
}
.image-container img {
    height: auto;
    margin: 15px auto;
}

.custom_text {
    position: absolute;
    top: 2%;
    left: 44%;
    color: black;
    font-size: 13px;
}

.custom_text_blood {
    position: absolute;
    top: 21%;
    left: 53%;
    color: #159e0e;
    font-size: 13px;
}

.custom_text_energy {
    position: absolute;
    top: 34%;
    left: 53%;
    color: #dfbd21;
    font-size: 13px;
}

.custom_text_he_1 {
    position: absolute;
    top: -4%;
    left: 306px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
}
.custom_text_he_2 {
    position: absolute;
    top: 66%;
    left: 217px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
}
.custom_text_he_3 {
    position: absolute;
    top: 66%;
    left: 407px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
}
.custom_text_he_4 {
    position: absolute;
    top: 97%;
    left: 219px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
}
.custom_text_he_5 {
    position: absolute;
    top: 97%;
    left: 394px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
}
.hidden-scroll {
    overflow-y: hidden;
    scrollbar-width: none;
}

